---
- hosts: all
  become: yes

  tasks:
    - name: Install Apache on Ubuntu
      apt:
        name: apache2
        state: present
      when: ansible_os_family == "Debian"
      ignore_errors: true

    - name: Install httpd on Red Hat
      yum:
        name: httpd
        state: present
      when: ansible_os_family == "RedHat"
      ignore_errors: true

